@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --primary-color: #FFFFFF;
    --secundary-color: #00171F;
    --accent1-color: #003459;
    --accent2-color: #007EA7;
    --heading-font:var(Poppins);
    --paragraph-font:var(Poopins);
    --nav-background-color:#000000;
    --nav-hover-link-color:var(--accent1-color);
    --nav-link-color:var(--accent2-color);
    --nav-hover-link-color:var(--secundary-color);
    --nav-hover-background-color:var(--accent2-color);
}
 
.hero{
    position: relative;
}

.hero img{
    display: block;
    height: auto;
    width: 100%;
}

article img{
    float: right;
}

h1{
    color: var(--accent1-color);
}
